Repository medizininformatik-initiative/fhir-ontology-generator, pull requests merged in 2025-04, with the labels that each got.

#239 229 add availability output to ci
  .github/actions/availability/action.yml
  .github/workflows/ci.yml
  .github/workflows/generate-ontology.yml
  .github/workflows/run-integration-tests.yml
  availability/stratum-to-context.json
Labels: availability

#248 [TEMPORARY] Made all fields in DSE not required
  data_selection_extraction/core/generators/profile_detail.py
Labels: temporary-fix, dse

#252 Separate references in DSE profile entries into separate field
  cohort_selection_ontology/model/ui_data.py
  cohort_selection_ontology/model/ui_profile.py
  common/constants/project.py
  common/util/codec/functions.py
  common/util/http/client.py
  common/util/log/functions.py
  data_selection_extraction/core/generators/profile_detail.py
  data_selection_extraction/core/generators/profile_tree.py
  data_selection_extraction/model/detail.py
  data_selection_extraction/scripts/generate_dse_files.py
  helper.py
Labels: dse

#254 Separate references in DSE profile entries into separate field
  cohort_selection_ontology/model/ui_data.py
  cohort_selection_ontology/model/ui_profile.py
  common/constants/project.py
  common/util/codec/functions.py
  common/util/http/client.py
  common/util/log/functions.py
  data_selection_extraction/core/generators/profile_detail.py
  data_selection_extraction/core/generators/profile_tree.py
  data_selection_extraction/model/detail.py
  data_selection_extraction/scripts/generate_dse_files.py
  helper.py
Labels: dse
